/target
backend/api/running_on_lyra
vue/node_modules
vue3/node_modules
vue/dist
snakemake/14_test
backend/db/*sqlite3
backend/db/*.duckdb
snakemake/prod/*
snakemake/test
node_modules
node_modules
snakemake/data/
snakemake/backend_db/
snakemake/kingfisher_metadata/
snakemake/.snakemake/
backend/*.sqlite3
**/__pycache__/
sandpiper/snakemake_test/*
sandpiper/snakemake/db.*
snakemake_test/.snakemake/
snakemake_test/kingfisher_metadata/
snakemake/pixi.*
snakemake_test/